@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.list-container {
  width: 700px; /* Adjust this value as per your requirement */
}

.list-container li {
  list-style-type: none;
}

.input-box {
  width: 400px;
}

.answer-box {
  max-width: 700px;
}

.coin {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  background: linear-gradient(to bottom, #ffcc00 0%, #ffcc00 40%, #333 40%, #333 60%, #ffcc00 60%, #ffcc00 100%);
  animation: spin 3s infinite;
}

@keyframes spin {
  0% { transform: rotateY(0deg); }
  50% { transform: rotateY(180deg); }
  100% { transform: rotateY(360deg); }
}